# Environment Configuration
NODE_ENV=production

# Server Configuration
CORS_ORIGIN=http://localhost:3000
PORT=5000

# API Documentation
SWAGGER_URL=https://your-vercel-url.vercel.app

# External Services
OPENAI_API_KEY=your_openai_api_key_here

# Database
MONGODB_URI=your_mongodb_connection_string_here
